In [2]:
import pandas as pd

In [3]:
csv_path = "WebVisualizations/Resources/weather_check.csv"

In [28]:
weather_check_df = pd.read_csv(csv_path, index_col=[0])
weather_check_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Ushuaia,-54.80,-68.30,37.11,80,52,8.66,AR,1603109309
1,New Norfolk,-42.78,147.06,51.01,73,81,1.01,AU,1603109310
2,Doha,25.29,51.53,95.00,33,0,10.00,QA,1603109016
3,Marsh Harbour,26.54,-77.06,80.83,76,98,19.89,BS,1603109313
4,Sola,-13.88,167.55,79.90,79,39,17.74,VU,1603109314
...,...,...,...,...,...,...,...,...,...
573,Esso,55.93,158.70,27.81,89,86,4.88,RU,1603110042
574,Muriwai Beach,-36.82,174.45,60.01,90,86,1.01,NZ,1603110042
575,Danilovka,50.36,44.12,56.93,38,58,8.16,RU,1603110046
576,Koshurnikovo,54.17,93.30,26.73,97,100,4.61,RU,1603110047
577,Muisne,0.60,-80.03,74.39,85,100,11.34,EC,1603110048

In [29]:
weather_check_html = weather_check_df.to_html("WebVisualizations/Resources/weather_check.html")